<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        {% include "header.html" %}
    </header>
     
    <div class="post-wrapper">
        <main>
            <h1>{{ heading }}</h1>


                {% if date %}
                    <p><strong>Published on:</strong> {{ date | date: "%B %d, %Y" }}</p>
                {% endif %}

                {{ content }}
                {% if tags %}
                    <p><strong>Tags:</strong> 
                        {% for tag in tags %}
                    <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}

        </main>
    </div>

    <footer class="footer">
        {% include "footer.html" %}
    </footer>
</body>
</html>